*,
*::before,
*::after{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
@font-face {
    font-family: poppins;
    src: url(./Poppins-Regular.ttf);
}
.container{
    background-color: rgb(255, 255, 255);
    box-shadow:0px 3px 14px 3px rgba(0,0,0,0.14);
    width:35%;
    height:70vh;
    padding:2rem;
    position:absolute;
    left:20%;
    top:50%;
    transform:translate(-20%,-50%);
}

.container h2{
    font-size:36px;
    font-family: poppins;
    text-align:center;
}

.inputField{
    position:relative;
    width: 80%;
    margin:auto;
}
.inputField input{
    width:100%;
    border:2px solid rgba(0, 0, 0, 0.14);
    padding:0.5rem;
}
.inputField img{
    transform:scale(0.5);
    position:absolute;
    right:0px;
    top:-3.5px;
    transition:all 0.3s ease;
}
.passIndicator{
    width:100%;
    height:5px;
    border:2px solid rgba(0, 0, 0, 0.14);
    border-radius:25px;
    margin-top:6px;
}


.passIndicator::before{
    position:absolute;
    content: "";
    background-color: yellow;
    width:50%;
    height:5px;
    margin:-2px;
    border-radius: 25px;
    transition:all 0.5s ease;
}

#weak::before{
    width:18%;
    background-color: rgb(250, 20, 20);
}
#medium::before{
    width:50%;
    background-color: yellow;
}
#strong::before{
    width:100%;
    background-color:rgb(19, 74, 255);
}

.pass{
    width:80%;
    margin:25px auto;
    font-family: poppins;
}

.pass span{
    position:absolute;
    right: 55px;
    
}
.pass input{
    display: block;
    width:100%;
}
.passwordSettings{
    font-family: poppins;
    width:80%;
    margin:auto;
}
.passwordSettings ul{
    display: flex;
    flex-wrap: wrap;
}
.passwordSettings ul li:first-child{
    pointer-events: none;
}
.passwordSettings #lowercase{
    opacity:0.5;
}
.passwordSettings ul li{
    list-style-type:none;
    display:flex;
    width:50%;
    padding:5px;
}
.passwordSettings ul li label{
    padding-left: 6px;
}
.passwordSettings ul li label, .passwordSettings input{
    cursor:pointer;
}

button{
    width:80%;
    padding:1.5rem;
    left:50%;
    position: relative;
    transform: translate(-50%,0);
    margin-top:25px;
    font-family: poppins;
    font-size:20px;
    background-color:rgba(18, 18, 255, 0.568);
    border-radius:10px;
    color:white;
    border:0px;
    outline: 0px;
    cursor:pointer;
}